:root {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
}

body {
    width: 0%;
    margin: 0%;
    font-family: Arial;
    font-size: 17px;
    background-color: black;
    font-family: "Kanit", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

#Background {
    position: fixed;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.img-content {
    color: #fff;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#vincent {
    width: 200px;
    border-radius: 20%;
    animation-name: hvr-bob-float, hvr-bob;
    animation-duration: 0.3s, 1.5s;
    animation-delay: 0s, 0.3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}

.ml13 {
    padding: 10px;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.ml13 .letter {
    display: inline-block;
    line-height: 1em;
}


.letter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 40%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.subtitle1 {
    color: hsla(0, 0%, 100%,);
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(5rem);
    /* background-color: red; */
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed)) forwards;
}

@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.subtitle2 {
    transform: translateX(2rem) translateY(0.5rem);
    opacity: 0;
    animation: fadeInUp2 2s ease calc(var(--typewriterSpeed)) forwards;
}

@keyframes fadeInUp2 {
    to {
      opacity: 1;
      /* transform: translateY(10); */
    }
}



@keyframes hvr-bob-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}
  
@keyframes hvr-bob{
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.content-social a.btn {
    font-size: 2rem;
}

.content-social {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

@media (width: 768px) {
    @keyframes typing {
        0% { width: 0; }
        80% { width: 40%; } /* ปรับค่านี้เพื่อให้สิ้นสุดที่ตัวอักษร N */
    }
}

@media (width: 1024px) {
    @keyframes typing {
        0% { width: 0; }
        100% { width: 35%; } /* ปรับค่านี้เพื่อให้สิ้นสุดที่ตัวอักษร N */
    }
}

@media (width: 820px) {
    @keyframes typing {
        0% { width: 0; }
        100% { width: 38%; } /* ปรับค่านี้เพื่อให้สิ้นสุดที่ตัวอักษร N */
    }
}

@media (width: 1024px) {
    @keyframes typing {
        0% { width: 0; }
        100% { width: 40%; } /* ปรับค่านี้เพื่อให้สิ้นสุดที่ตัวอักษร N */
    }
}

@media (width: 1440px) {
    @keyframes typing {
        0% { width: 0; }
        100% { width: 40%; } /* ปรับค่านี้เพื่อให้สิ้นสุดที่ตัวอักษร N */
    }
}

@media (width: 1920px) {
    @keyframes typing {
        0% { width: 0; }
        100% { width: 40%; } /* ปรับค่านี้เพื่อให้สิ้นสุดที่ตัวอักษร N */
    }
}

@media (width: 390px) {
    .content-social {
        width: 70%;
        left: 100%;
    }
}

@media (max-width: 412px) {
    .content-social {
        width: 70%;
        left: 55%;
    }
}

@media (max-width: 430px) {
    .content-social {
        width: 70%;
        left: 56%;
    }
    @keyframes typing {
        0% { width: 0; }
        100% { width: 80%; } /* ปรับค่านี้เพื่อให้สิ้นสุดที่ตัวอักษร N */
    }
    .subtitle1 {
        font-size: 1.0rem;
    }
    
}
