:root {
    --typewriterSpeed: 3.5s;
}

body {
    margin: 0;
    font-family: "Kanit", sans-serif;
    background-color: black;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

#Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    z-index: -1;
}

.img-content {
    z-index: 1;
}

#vincent {
    width: 200px;
    border-radius: 20%;
    animation: hvr-bob-float 0.3s forwards, hvr-bob 1.5s infinite alternate ease-in-out 0.3s;
}

.ml13 {
    padding: 10px;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.ml13 .letters {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing var(--typewriterSpeed) steps(40, end), blink-caret .75s step-end infinite;
    padding: 0 5px;
    letter-spacing: 0.09em;
}

@keyframes typing {
    from { width: 0; }
    to { width: 4.5ch; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.subtitle1 {
    color: hsla(0, 0%, 100%);
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(5rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed)) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.subtitle2 {
    position: relative;
    right: 10%;
    transform: translateX(2rem) translateY(0.5rem);
    opacity: 0;
    animation: fadeInUp2 2s ease calc(var(--typewriterSpeed)) forwards;
}

@keyframes fadeInUp2 {
    to {
        opacity: 1;
    }
}

.content-social a.btn {
    font-size: 2rem;
}

.content-social {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .ml13 {
        font-size: 2em;
    }
    .subtitle1 {
        font-size: 1.2rem;
    }
    .subtitle2 {
        font-size: 1rem;
    }
}

@keyframes hvr-bob-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hvr-bob {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
